<div class="container">

    <div class="form-group">
      <label for="nameInput">Product Name: </label>
      <input [(ngModel)]="productName" type="text" id="nameInput" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="qteInput">Qte: </label>
      <input [(ngModel)]="qte" type="number" id="qteInput" aria-describedby="emailHelp">
    </div>

    <button (click)="onItemAdded()" type="submit" class="btn btn-primary">Add</button>



  <div class="container mt-1">
   <app-shopping-item *ngFor="let item of ShoppingItem" [Name]="item.Name" [Qte]="item.Qte"></app-shopping-item>
  </div>
</div>
